{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block content%}
    
     <ul>
        {% for books in book %}
        <img src='{{ books.image }}'class='img-responsive img-thumbnail'>
            <li>Book Tiitle:{{ books.title }}</li>
            <li>Description:{{ books.description }}</li>
            <li>Authors:{{ books.authors }}</li>
            <li>Page Count::{{ books.pageCount }}</li>
            <li>Preview link::{{ books.preveiwLink }}</li>
            <li>Publish Date::{{ books.publishedDate }}</li>
        {% endfor %}
    </ul>
    
{% endblock %}